      #map {
        height: 100%;
     }
 

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
     }

     .buttons-wrap {
     	padding: 2%;
     	position: fixed;
     	bottom: 0;
     	left: 0;
     	height: 100% ;
     	background-color: rgba(255,255,255,1);
     	width: 20%;
     }
     .css-buttons {
     	background-color: white;
     	margin-top: 5%;
     	text-align: center;
     }

    .form--style{
    	margin: 5%;
    	padding: 5%;

    }

    button{
    	text-align: center;
    	align-content: center;
    }